*.pyc
oncotator.log
Oncotator_profile.bin
profile_stats.txt
/test/configs/personal-test.config
/test/out/*
!/test/out/README.txt.1st
/doc/doxygen/*
!/doc/doxygen/README.txt
/doc/coverage/*
!/doc/coverage/README.1st
/testdata
/configs
/out
/Oncotator.egg-info
/build
/test/testdata/Saccharomyces_cerevisiae.EF4.71.cdna.all.fa
