/dist/
*.pyc
/test/configs/personal-test.config
/test/out/*
!/test/out/README.rst
/doc/doxygen/*
!/doc/doxygen/README.txt
/doc/coverage/*
!/doc/coverage/README.1st
/testdata
/configs
/out
/Oncotator.egg-info
/build
/test/testdata/Saccharomyces_cerevisiae.EF4.71.cdna.all.fa
/oncotator.log
/profile_stats.txt
/tmp*
/distribute*.tar.gz
/distribute*.egg
/Oncotator_profile.bin
/nosetests.xml
/oncotator_nosetest_env_auto
/test/nosetests.xml
/test/configs/personal-test.config.bkup
/oncotator/Oncotator_profile.bin
/oncotator/oncotator.log
/oncotator/profile_stats.txt
/master.zip

