# Gene list output file
#
# The keys are the required fields for a Segment.  Then the alternatives are included.
#
[general]
version: 1.0

# The keys here are going to be the columns.
[alternatives]
gene:
segment_contig: chr,contig,Chromosome,Chrom,CHROM,chromosome
segment_start: start,start_position,Start_position,Start_Position,position,Start
segment_start_gene: start_gene
segment_start_exon: start_exon
segment_end: end,end_position,End_position,End_Position,position,End
segment_end_gene: end_gene
segment_end_exon: end_exon
segment_num_probes: Num_Probes
segment_mean: Segment_Mean,mean
segment_call: call,Call,Segment_Call
build: Build,NCBI_Build ;
sample: sample_name,Sample
