# Broad internal maflite configuration
#
# The keys are the required fields for a Mutation.  Then the alternatives are included.
#
#	This may seem counter-intuitive, but this is because maflite is a generic tsv file with no standardization of the column names.
#	
[general]
version: 1.0

# Required headers for maflite must correspond to MutationData attributes and should be the keys in a subset of the
#   alternatives, below
required_headers:chr,start,end,ref_allele,alt_allele,build

# This should to be in sync with the attributes field of MutationData
# Note that position is a last choice for both start and end.
[alternatives]
chr: contig,Chromosome,Chrom,CHROM,chromosome,target_contig
start: start_position,Start_position,Start_Position,position,target_start
end: end_position,End_position,End_Position,position,target_stop
ref_allele: Reference_Allele,ref
alt_allele: alt_allele1,alt_allele2,tum_allele2,tum_allele1,tumor_allele2,tumor_allele1,Tumor_Seq_Allele2,Tumor_Seq_Allele1,alt  ; Note: tum_allele2 is specified before tum_allele1, since this is where alt is recorded.
build: NCBI_Build ;

# While this is not required, this can be useful
# By listing certain fields here, this will ensure that certain annotations have a standard annotation name in the backend.
gene: Hugo_Symbol
