[SAMPLE_NAME]
SAMPLE_NAME: sample_name,sampleName,Pair_Name,pair_name,pairName,primary_name,primaryName,pair_id ;
SAMPLE_TUMOR_NAME: tumor_barcode,tumor_id,case_barcode,case_id,tumor_name,Tumor_Sample_Barcode ;
SAMPLE_NORMAL_NAME: normal_barcode,normal_id,control_barcode,control_id,normal_name,Matched_Norm_Sample_Barcode ;
