# TCGA VCF 1.1 Config file
[general]
version: 1.1

formatString: GT:AD:DP:FA:MQ0:BQ:SS:SSC
infoString:


[genomeBuild]
hg18: 36
hg19: 37


# alternatives --
#  This section is for defining alternative strings for annotations.  Alternatives are searched in order.
#
# To define alternatives, define the column name (found in the required or optionalColumn list) and a list of alternative annotation names.
# This list is case sensitive.
#
# Procedure:
#	1)  Use the annotation on the mutation with the name of the column.
#	2)  If this is not found, go through the alternates until one is found as an annotation on the mutation.
#	3)  If still not found, use blank value.
# For example, if no annotation named "Start_position" is found, attempt to populate the Start_position column with values found in the start_pos, start, or pos annotations, in that order.
# Start_position:  start_pos,start,pos
[alternatives]
individualBarcode: individual
normalFile:
tumorFile:
normalAccession:
tumorAccession:
sampleSource:
Sequencer: sequencer,platform
transcriptID: transcript_id,transcript_name
center:
vcfProcessLog: process_log
normal_barcode:
platform:
source:
normal_accession:
softwareName:
softwareVersion:
softwareParams:
normal_file:
normal_uuid: normalUUID,normal_uuid,control_uuid,normal_barcode,normal_id,control_barcode,control_id,normal_name,sample_name   ; Note that the barcodes are inserted if uuids are not found.
tumor_barcode:
tumor_accession:
tumor_file:
tumor_uuid: tumorUUID,tumor_uuid,case_uuid,tumor_barcode,tumor_id,case_barcode,case_id,tumor_name  ; Note that the barcodes are inserted if uuids are not found.
tumor_subtype:
variant_type:Variant_Type
n_alt_count:i_n_alt_count
n_ref_count:i_n_ref_count
t_lod_fstar:i_t_lod_fstar
init_n_lod:i_init_n_lod
t_ref_count:i_t_ref_count
t_alt_count:i_t_alt_count
n_ref_count:i_n_ref_count
n_alt_count:i_n_alt_count
t_alt_sum:i_t_alt_sum
n_ref_sum:i_n_ref_sum