[INFO]
AA: ancestral_allele ; ancestral allele
AC: allele_count ; allele count in genotypes, for each ALT allele, in the same order as listed
AF: allele_frequency ; allele frequency for each ALT allele in the same order as listed: use this when estimated from primary data, not called genotypes
AN: total_allele_number ; total number of alleles in called genotypes
BQ: base_quality ; RMS base quality at this position
CIGAR: cigar ; cigar string describing how to align an alternate allele to the reference allele
DB: dbSNP_membership ;
DP: depth_across_samples ; combined depth across samples, e.g. DP=154
END: var_end_pos ; end position of the variant described in this record (esp. for CNVs)
H2: hapmap2_membership ;
MQ: mapping_quality ; RMS mapping quality, e.g. MQ=52
MQ0: mapq0_number ; Number of MAPQ == 0 reads covering this record
NS: samples_number ; Number of samples with data
SB: strand_bias ; strand bias at this position
SOMATIC: somatic ; indicates that the record is a somatic mutation, for cancer genomics
VALIDATED: validated ; validated by follow-up experiment
BUILD: build ;

[FORMAT]
GT: genotype ; encoded as alleles values separated by either of "/" or "|"
DP: read_depth ; read depth at this position for this sample
GQ: genotype_quality ;
HQ: haplotype_quality ;

[OTHER]
ID: id,dbsnp_rs ;
QUAL: qual ;
FILTER: s50,q10 ;

[INFO_DESCRIPTION]
allele_count: allele count in genotypes, for each ALT allele, in the same order as listed ;

[FORMAT_DESCRIPTION]
GT: Genotype ;
DP: read depth at this position for this sample ;

[FILTER_DESCRIPTION]
q10: Quality below 10 ;

[NOT_SPLIT_TAGS]
INFO: ESP_MAF
FORMAT: