# This config file is an example that illustrates a config file that can be passed to the "--override_config" command line option.
# In this example, all mutations would be as follows (mutation = m)
#	m['annotation1'] = 'value1'
#	m['annotation2'] = 'value2'
#	m['annotation3'] = ''
#	m['annotation4'] = 'value4' 
#
#
# Section name must be "manual_annotations"
# The section must contain a single option, "override"
[manual_annotations]
override:annotation1=value1,annotation2=value2,annotation3=,annotation4=value4