
# dbDir convention:
#
#	<dbDir>/<datasource>/<genome_build>/
[DEFAULT]
dbDir: /TODOFILLTHISIN/


[gaf3.0]
# Initialization for GAF3.0 hg19
gafDir: %(dbDir)s/gaf/hg19/

# gaf filenames should be specified here.
gaf_fname: %(gafDir)s/transcript.genome.gaf
gaf_transcript_seqs_fname: %(gafDir)s/UCSCgene.Jan2012.fa

[dbSNP]
dbSNPDir: %(dbDir)s/dbsnp/hg19/
dbSNPFilename: %(dbSNPDir)s/dbsnp_134_b37.leftAligned.vcf.gz

[COSMIC]
CosmicDir: %(dbDir)s/cosmic/hg19/

[ENSEMBL]
# Initialization for canfam3
gafDir: %(dbDir)s/gaf/canfam3/

# gaf filenames should be specified here.
gaf_fname: %(gafDir)s/transcript.genome.gaf
gaf_transcript_seqs_fname: %(gafDir)s/UCSCgene.Jan2012.fa