# Broad internal maflite configuration
#
# The keys are the required fields for a Mutation.  Then the alternatives are included.
#
#	This may seem counter-intuitive, but this is because maflite is a generic tsv file with no standardization of the column names.
#	
[general]
version: 1.0

# This should to be in sync with the attributes field of MutationData
# Note that position is a last choice for both start and end.
[alternatives]
chr: contig,Chromosome,Chrom,CHROM
start: start_position,Start_position,Start_Position,position
end: end_position,End_position,End_Position,position
ref_allele: Reference_Allele
alt_allele: alt_allele1,tum_allele2,tum_allele1,Tumor_Seq_Allele2,Tumor_Seq_Allele1  ; Note: tum_allele2 is specified before tum_allele1, since this is where alt is recorded.
build: NCBI_Build ; TODO: This is incorrect and should be removed

# While this is not required, this can be useful
gene: Hugo_Symbol
